{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-secondary mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres <strong>{{ ad.price }} &euro; / nuit</strong><br>
            <small>Pas encore note</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="log1" class="img-loge" srcset="{{ ad.coverImage }} 2x">
        </a>
        <div class="card-body">
            <h4 class="card-title text-center">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary btn-lg btn-block">En savoir plus</a>
        </div>
    </div>
</div>