{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-secondary mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres <strong>{{ ad.price | number_format(0, '.', ' ')}} Ar</strong><br>
            <small>Pas encore note</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ asset('/uploads/coverimages/' ~ ad.coverImage) }}" alt="log1" class="img-loge">
        </a>
        <div class="card-body">
            <h4 class="card-title text-center title-link">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary btn-lg btn-block">En savoir plus</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>